{% extends 'base.html.twig' %}

{% block title %}Coupon{% endblock %}

{% block body %}
    <h1>Coupon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon.id }}</td>
            </tr>
            <tr>
                <th>CouponId</th>
                <td>{{ coupon.couponId }}</td>
            </tr>
            <tr>
                <th>CouponKey</th>
                <td>{{ coupon.couponKey }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ coupon.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coupon_index') }}">back to list</a>

    <a href="{{ path('coupon_edit', {'id': coupon.id}) }}">edit</a>

    {{ include('coupon/_delete_form.html.twig') }}
{% endblock %}
